---
import "../styles/global.css";
import NavigationBar from "../components/NavigationBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hulak — Send Digital Letters & Messages</title>
      <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  </head>

  <body class="bg-[var(--wheat)] flex flex-col">
    <NavigationBar />

    <main class="lg:px-24">
      <slot />
    </main>
  </body>
</html>
